* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  margin: 90px 0px 0px 0px;
  width: 100%;
  display: flex;
}

.chart_container {
  margin: 20px;
  padding: 0px 0px 0px 20px;
  width: 30%;
  height: 40%;
}

#chart {
  justify-content: center;
  background-color: #131722;
  align-items: left;
  height: 350px;
  margin: auto;
  border: solid white;
  border-radius: 10px;
}

.row_container {
  margin: 20px 40px 20px 20px;
  padding: 0px 20px 0px 0px;
  width: 50%;
  border: solid gray;
}

.chat_container {
  width: 20%;
  border: solid gray;
  margin: 20px 40px 20px 0px;
}
