.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition-timing-function: ease-in;
  transition: all 0.5s;
  background: rgba(20, 24, 34, 0.9);
  color: #e6e8ee;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  justify-content: center;
}

.nav-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav-container1 {
  color: #e6e8ee;
  display: flex;
  justify-content: space-between;
}

.nav-container1 .nav-category {
  display: flex;
  flex-direction: row;
}

.nav-container2 {
  color: #e6e8ee;
}

.category {
  color: #e6e8ee;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.nav-container2 .nav-category {
  width: 1000px;
  padding-left: 20px;
  display: flex;
}

.title {
  color: #e6e8ee;
  font-weight: 900;
  font-size: x-large;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.06);
}

ul {
  display: flex;
  align-items: center;
}
li {
  width: 100px;
  display: inline;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.06);
  cursor: pointer;
}

.nav-category-container {
  width: 500px;
  /* font-size: 0.8rem; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapped-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
